/***********
GENERAL
***********/

:root {
  --c-white: #ffffff;
  --c-dark: #212121;
  --c-primary: #6df2d5;
  --c-secondary: rgb(250, 120, 106);
  --c-form: #4d4d4d;

  --f-primary: "Josefin Sans", sans-serif;
  --f-weight: 300;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--f-primary);
  background: linear-gradient(to top, var(--c-secondary), var(--c-white));
}

a {
  font-weight: bolder;
}

h1 {
  font-size: 3.8rem;
  text-align: center;
}

h2 {
  font-size: 2.8rem;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/**********
HEADER 
************/

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  height: 18rem;
}

/**********
NAV BAR
************/

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar a {
  padding: 1rem;
  color: var(--c-white);
  transition: all 0.5s ease-out;
}

/***********
HERO 
************/

.hero {
  background-image: url("../01_FREELANCE/freelancer_inicio/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative; /* La etiqueta madre siempre debe tener una posición relativa para que la hija pueda posicionarse de forma absoluta */
  margin-bottom: 3rem;
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--c-white);
}

.place {
  display: flex;
  align-items: flex-end;
  /* Modo de alinear verticalmente icono y texto ubicación. Otro método sería colocar el icono dentro del párrafo, eliminando el <div> "place" */
}

.contact-button {
  background-color: var(--c-secondary);
  color: var(--c-white);
  width: 70%;
  padding: 1rem 2rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

/***********
MAIN
***********/

/***********
SERVICES
***********/

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.services-icon {
  width: 10rem;
  height: 10rem;
  background-color: rgb(250 120 106 / 20%);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.services p {
  line-height: 1.5;
  text-align: center;
}

/***********
CONTACT 
***********/

.form {
  margin: 0 auto;
  background-color: var(--c-form);
  color: var(--c-white);
  width: min(60rem, 100%);
  /* Función que utiliza el valor indicado de ser menor que el 100%. Sirve para ahorrar Media Queries. */
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.form fieldset {
  border: none;
}

.form legend {
  margin: 0 auto 2rem auto;
  /* Centrar contenido del legend para Firefox (con 2rem de margen hacia el bottom). */
  text-align: center;
  /* Centrar contenido del legend para Chrome: propiedad no reconocida en Firefox para alinear elementos de bloque (como legend). */
  text-transform: uppercase;
  font-weight: bolder;
}

.form legend span {
  color: var(--c-secondary);
}

.input {
  margin-bottom: 1rem;
}

.input label {
  font-weight: bolder;
  margin-bottom: 0.5rem;
  display: block;
}

.input-text {
  /* Clase que se le otorga al contenido a rellenar en cada input, aunque no sean todos de tipo text, para aplicar estilos en bloque */
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

/***********
FOOTER
***********/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin: 1rem 1rem;
  color: var(--c-form);
}

.footer img {
  width: 3rem;
}

/***********
SPECIFICITIES
Categoría destinada a aplicar atributos específicos en elementos que ya comparten estilos con otros a través de su clase.
***********/

.shadow {
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.5);
  /* border-radius: 0.5rem; */
  /* background-color: var(--c-white); */
  padding: 2rem;
}

.w-100 {
  width: 100%;
}

.m-top {
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.align-right {
  justify-content: flex-end;
}

.bg-secondary {
  background-color: var(--c-secondary);
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

/***********
MEDIA QUERIES 
***********/

@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-bar a:hover {
    letter-spacing: 0.2rem;
    color: var(--c-primary);
    transition: all 0.5s ease-in;
  }

  .services-grid {
    display: grid;
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* 
    Dos métodos para distribuir el contenido en columnas:
    1.- Divide el ancho total en columnas de un X% cada una.
    2.- Divive el ancho total en 3 columnas calculando automáticamente el ancho de cada una.
    */
    grid-template-columns: repeat(3, 1fr);
    /* 
    Método abreviado: repite X veces la fracción X.
    */
    column-gap: 1.5rem;
  }

  .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 2rem;
    /*
    1. Grid-template-columns: organiza el contenido en 2 columnas del mismo acho (50% del width total).
    2. Grid-template-rows: organiza el contenido de las dos primeras filas con un ancho auto (auto, auto) y el de las dos siguientes con ancho 20rem (20rem menos 2rem debido a colum-gap)
    */
  }

  .input:nth-child(3),
  .input:nth-child(4) {
    grid-column: 1 / 3;
    /*
    1. Se usa ":nth-child(X)" para llamar al elemento número X de un conjunto de elementos con la misma clase, como en este caso que los cuatro llevan la clase ".input"
    2. Grid-column: distribuye el contenido entre los valores de la cuadrícula indicados*/
  }

  .contact-button {
    width: auto;
  }

  .w-100 {
    width: auto;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  /* SCROLL SNAP */
  html {
    scroll-snap-type: y mandatory;
  }

  .nav-bar,
  .service-1,
  .service-2,
  .service-3,
  .contact,
  .footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
